/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-container{
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%
}
.mainContainer .flex-item{
  width: 100%
}
.full-width-field {
  width: 100%;
}
.button-footer{
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.border{
  box-shadow: 0px 1px 3px rgba(0,0,0,.3);margin: 2px;
  padding: 20px;
  margin:10px;
}


@media only screen and (max-width: 350px) {
  .flex-item{
    max-width: 250px;
    width: 100%;
  }
}

@media (orientation:portrait) and (min-width: 360px)and (max-width: 600px){
  .flex-item{
    max-width: 300px;
    width: 100%;
  }
}
@media (orientation:portrait) and (min-width: 568px) and (max-width: 899px){
  .flex-item{
    max-width: 350px;
    width: 100%;
  }
}
@media  (orientation:landscape) and (min-width: 568px) and (max-width: 899px){
  .flex-item{
    max-width: 350px;
    width: 100%;
  }
  .main-container{
    display: inline-grid;
  }
}
@media (min-width: 900px), (orientation:portrait) and (min-width: 768px){
  .flex-item{
    max-width: 350px;
    width: 100%;
  }
}
@media (max-height: 410px){
  .flex-item{
    max-width: 350px;
    width: 100%;
  }
}
